<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.freyja.testthree">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name="global_data.Data">
        <activity android:name="log_and_register.Log_Up_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="log_and_register.Register_Activity"></activity>

        <activity android:name="menu_page.User_Info_Page_Activity"></activity>
        <activity android:name="menu_page.Start_Page_Activity"></activity>
        <activity android:name="menu_page.Friend_List_Activity"></activity>

        <activity android:name="Review.Review_End_Activity"></activity>
        <activity android:name="Review.Review_Chinese_Page_Activity"></activity>
        <activity android:name="Review.Review_English_Page_Activity"></activity>

        <activity android:name="user_setting.Book_List_Activity"></activity>
        <activity android:name="user_setting.Learning_Manage_Activity"></activity>
        <activity android:name="user_setting.Info_Setting_Activity"></activity>
        <activity android:name="user_setting.Note_List_Activity"></activity>

        <activity android:name="info_setting_part.Change_Info_Activity"></activity>

        <activity android:name="note_part.Note_Change_Activity"></activity>
        <activity android:name="note_part.Note_Show_Activity"></activity>
        <activity android:name="note_part.Note_Create_Activity"></activity>

        <activity android:name="book_part.Book_Show_Activity"></activity>
        <activity android:name="book_part.Book_Change_Activity"></activity>
        <activity android:name="book_part.Book_Create_Activity"></activity>

        <activity android:name="word_part.Word_Show_Activity"></activity>
        <activity android:name="word_part.Word_Change_Activity"></activity>
        <activity android:name="word_part.Word_Create_Activity"></activity>

        <activity android:name="review_add_book.Book_Select_Activity"></activity>

        <activity android:name="learning_manage.Book_to_Review"></activity>
        <activity android:name="learning_manage.Book_Review_Share_Activity"></activity>

        <activity android:name="Spell.Spell_English_Activity"></activity>


    </application>

</manifest>